h1 {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
}

body {
    background-color: #fdfdfd; 
    font-family: Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
}

img { 
    width: 100px;
    height: 100px;
    margin: 20px 30px;
}

p { 
    font-size: 16px;
    line-height: 1.5;
    margin: 10px 30px; 
    color: white;
}

.caixa {
    background-color: gray;
}
